/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #FFF; 
$base-font-size: 1.3rem; 
$base-line-height: 1.8rem; 
$base-font-family: 'Poppins', sans-serif;
$custom-font-family: 'Open Sans', sans-serif;


/* main variables */

$black: #000;
$dark: #313030;
$red: #ff2d2d;
$beige: #f5f0dd;
$grey: #e5e5e5;

$main-color: $black;
$main-color2: $red;


$link-color: $main-color;

//text, titles
$text-color: $black;
$title-color: $black;
$title-font-family: $custom-font-family;

$font-size-h1: 3.6rem;
$line-height-h1: 4.2rem;
$font-size-h2: 3.2rem;
$line-height-h2: 3.7rem;
$font-size-h3: 2.8rem;
$line-height-h3: 3.2rem;

$headerHeight: 8rem;
$footerHeight: 8rem;

$default-transition: all .2s linear;
