.header-top {
  background: $grey;
  height: $headerTopHeight;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .logo {
    @extend %logo;
    flex-shrink: 0;
    height: 7rem;
    width: 6rem;
    @media screen and (max-width: 425px){
      display: none;
    }
  }
  .social-links {
    display: flex;
    align-items: center;
    a {margin-left: 1.3rem;}
  }

  .btn {
    background: #fff;
    font-family: $base-font-family;
    font-weight: 600;
    font-size: 1.3rem;
    color: $dark;
    letter-spacing: .5px;
    margin-left: 2rem !important;
    padding: 1.5rem 2.5rem;
    &:hover {
      background: none;
      color: #fff;
    }
    @media screen and (max-width: 320px){
      padding: 1.5rem 1rem;
    }
  }//.btn
}//.header-top