
//main styles

.main-wrapper{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
  min-height: 100%;
  min-width: $min-width;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.wrapper{
  margin: 0 auto;
  max-width: $max-width;
	min-width: $min-width;
	padding: 0 3rem;
	position: relative;
  width: 100%;
}

/* titles */
p{	
	@include font($base-font-size, $base-line-height, $text-color);
	padding: 1.5rem 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1, $line-height-h1, $white);
	font-weight: $title-font-weight;
	padding: 1.5rem 0;
}
h2{
	@include font($font-size-h2, $line-height-h2, $title-color);
  font-weight: $title-font-weight;
	padding: 1.5rem 0;
}
h3{
	@include font($font-size-h3, $line-height-h3, $title-color);
  font-weight: $title-font-weight;
	padding: 1.5rem 0;
}

/* text position */
.text-left {text-align: left !important}
.text-center {text-align: center !important}
.text-right {text-align: right !important}
.nowrap {white-space: nowrap !important;}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	background: $base-bg;
	flex-grow: 1;
	min-width: $min-width;
	order: 2;
	text-align: left;
  width: 100%;
}


.service {
  background: linear-gradient(to right, $blue 50%, transparent 0),
              linear-gradient($grey 50%, $white 0);
  .wrapper {
    background-color: $blue;
    color: #fff;
    height: 33rem;
    right: 3rem;
  }
}//.service


.contact {
  background: linear-gradient(to right, $blue 50%, transparent 0),
              linear-gradient($white 50%, #4c4e5a 0);
  .wrapper {
    background-color: $blue;
    color: #fff;
    height: 54.5rem;
    padding-left: 6rem;
    right: 3rem;
  }
}//.service