
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background: $grey;
  color: $white;
	height: $headerHeight;
	order: 1;	
	width: 100%; 
}


